body {
    margin:0;
    font-family: Open Sans;
    background:#7396FF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    padding:0;
    margin:0;
    list-style:none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width:74%;
    margin:0 auto;
    height:auto;
}


/*=========================================
H-E-A-D-E-R-=====================
=========================================*/

header {
    min-height:72px;
    width:100%;
    background: #fff;
    box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
}

header .wrapper ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.sign-in,
.search {
    font-size:16px;
}

.search {
    color: #767;
    min-width: 350px;
    max-width: 100%;
    height: 40px;
    background: #EDEDED;
    border-radius: 70px;
    border:1px solid #EDEDED;
    text-align:center;
    outline:none;
}

.pic-search {
    position: absolute;
    top: 22px;
    margin-left: 10px;
}

.sign-in a {
    color:#000;
    display:block;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #EDEDED;
    width:94px;
    height:40px;
    border-radius: 22px;
    margin:12px auto;
    line-height:36px;
    text-align: center;
}

a .pic-logo {
    position:relative;
    top:2px;
    left:10px;
}

.sign-in a:hover {
    background: #EDEDED;
}

.sign-in a:active {
    background: #E3E3E3;
}

.search:active,
.search:focus {
    text-align:left;
    text-indent:40px;
}

/*=========================================
M-A-I-N-==================================
=========================================*/
.main-block .wrapper {
    margin:40px auto;
    height: auto;
    max-width:73%;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.main-block .wrapper {
    background:#fff;
}

.in-time {
    display:flex;
    padding-top:15px;
}

.block-week-month-date {
    width:60%;
}

.time {
    width:40%;
}
.block-week-month-date,
.time {
    height:100px;
}

.block-week-month-date button {
    color:#000;
    width: 94px;
    height: 42px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 16px;
    text-align:center;
    line-height:42px;
    border:1px solid #fff;
    outline:none;
    cursor:pointer;
    position:relative;
    left:18px;
    top:30px;
    margin-left:15px;
}

.block-week-month-date button:hover {
    background: #EDEDED;
    border:1px solid #EDEDED;
}

.block-week-month-date button:focus,
.block-week-month-date button:active {
    background: #E3E3E3;
    border:1px solid #E3E3E3;
}

.block-week-month-date button:last-child  {
    width: 81px;
    height: 44px;
}

.time p {
    text-align:end;
    padding-right:44px;
    font-weight: 600;
    font-size: 22px;
    padding-top:13px;
}

.inside-container {
    width:100%;
    height:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
}

.inside-container .element {
    max-width:369px;
    height:197px;
    border:1px solid black;
    margin-bottom:110px;
    background:rgba(100,0,200,.3);
    position:relative;
}

.inside-container section {
    width:372px;
    height:305px;
    margin:50px 81px;
}

.out-block {
    display:flex;
}

.inside-container section .event-name {
    height:auto;
    font-size:22px;
    position:relative;
    bottom:100px;
}


.event-time,
.event-place {
    height:auto;
    width:50%;
    font-size:16px;
    position:relative;
    bottom:83px;
}

.event-place {
    text-align:right;
}

.event-time {
    float:left;
}

/*=========================================
F-O-O-T-E-R-=====================
=========================================*/

footer {
    min-height: 200px;
    background: #2B2B2B;
    /*flex-shrink: 0;*/
    margin-top:80px;
}

footer .wrapper {
    display:flex;
    justify-content: space-around;
}

.website,
.community {
    width:40%;
    color: #9C9C9C;
    text-align:center;
    font-size:16px;
}

.website,
.community {
    padding-top:80px;
}

.find-us {
    width:40%;
    color: #9C9C9C;
    text-align:center;
    font-size:16px;
    flex-direction: column;
    margin:30px auto;
}

main {
    flex-grow:1;
}

.find-us p:first-child {
    font-weight:600;
}

/*=========================================
J-A-V-A-S-C-R-I-P-T-=====================
=========================================*/

.inside-container {
    display:none;
}

.inside-container.active {
    display:flex;
}

/*=========================================
T-I-P-A--A-D-A-P-T-I-V-A-==================
==========================================*/

@media (max-width:917px) {
    .wrapper ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .community,
    .website {
        margin-left:115px;
    }

    .community p,
    .website p {
        max-height:10px;
    }

    .website {
        margin-bottom:100px;
    }

    .community {
        margin-bottom:60px;
    }

    .wrapper ul li {
        margin-top:17px;
    }

    .wrapper {
        max-width:774px;
    }

    .main-block .wrapper {
        max-width:730px;
    }

    .pic-logo {
        padding-right: 10px;
    }

    .pic-search {
        top:103px;
    }

    .out-block {
        height:auto;
    }

    .block-week-month-date,
    .time {
        height:auto;
    }
}

@media (max-width:773px) {
    .main-block .wrapper {
        max-width:700px;
    }
}

@media (max-width:584px) {
    .block-week-month-date,
    .time {
        height:auto;
    }

    footer .wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .block-week-month-date {
        height:auto;
        width:40%;
        margin-bottom:25px;
        margin-left:35px;
    }

    .block-week-month-date button {
        display:block;
        margin-top:10px;
    }

    .time p {
        width:auto;
        height:auto;
        text-align:center;
    }

    .time {
        margin-left:20px;
    }
}

@media (max-width:373px) {
    .main-block .wrapper {
        min-width:350px;
    }

    .time {
        margin-right:10px;
    }

    .block-week-month-date {
        margin-right:50px;
    }

    footer, header {
        min-width:350px;
    }
}
